# Entorno (development, production, test)
NODE_ENV=development

# Puerto del servidor
PORT=3000

# URL de conexión para PostgreSQL (Neon, Supabase o local)
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/yupay_db?schema=public"

# Clave secreta para firmar los JSON Web Tokens (JWT)
JWT_SECRET="reemplazar_con_una_firma_ultra_secreta_en_produccion_2026"
